.frame { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
} 

.requests { 
    p { 
        margin: 0;
    } 
} 

.response { 
    display: flex;
    flex-direction: row;
    height: 18px;
    
    justify-content: space-between;
    align-items: center;

    p { 
        margin: 0 20px;
    } 
    
} 