h1  { 
    text-align: center;
} 

h1, .explanation  { 
    margin-bottom: 40px;
} 



.frame { 
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding: 0 50px;
    gap: 20px;

    .column-title { 
        font-size: 20px;
        font-weight: bold;
    } 

    p { 
        margin: 0;
    } 
} 