<h1>WebSocket Request-Response Mapping Demo</h1>

<p class="explanation">
    Here you will find the explanation for the demo.
</p>

<div class="frame">
    <div>
        <p class="column-title">List of requests to the server</p>
        <p *ngFor="let requestMessage of requestMessages">
            {{ requestMessage }}
        </p>
    </div>

    <button 
        [disabled]="sendButtonClicked"
        (click)="onSendRequests(); sendButtonClicked = true;">
            Send requests
    </button>

    <div>
        <p class="column-title">List of responses from the server</p>
        <p  
            *ngFor="let response of responses">
                {{ response.message }}
        </p>
    </div>

    <button 
        (click)="onGetMapping(); mapButtonClicked = true;"
        [disabled]="responses.length < 10 || mapButtonClicked">
            Map responses to requests
    </button>


    <div>
        <p class="column-title">Mapping between client request & server response</p>
        <p *ngFor="let map of mappings">
            {{ map }}
        </p>
    </div>
</div>