<h1>This will be the UI</h1>

<div class="frame">
    <div class="requests">
        <p *ngFor="let requestMessage of requestMessages">
            {{ requestMessage }}
        </p>
    </div>

    <button (click)="onSendRequests()">Send requests</button>

    <div>
        <div 
            class="response"
            *ngFor="let responseMessage of responseMessages">
                <p  class="messages">{{ responseMessage.message }}</p>
                <p  class="ids">{{ responseMessage.id }}</p>
        </div>
    </div>

    <button [disabled]="responseMessages.length < 10">Map responses to requests</button>

    <div class="map">

    </div>
</div>